:root{
    --color-1: #000000;
    --color-2: #761CBC;
    --color-3: #ede9ff4c;
    --color-4: #EDE9FF;
    --color-5: #FFF5D7;
    --color-6: #FFECEC;
    --color-7: #E4FFEA;
    --color-8: #333333;
    --color-9: white;
    --color-10: #761CBC;
    --color-11: #0092FC;
}

@font-face {
    font-family: "inter";
    src: url(../storage/fonts/Inter/Inter_18pt-SemiBold.ttf);
}

@font-face {
    font-family: "regular";
    src: url(../storage/fonts/Inter/Inter_18pt-Regular.ttf);
}
@font-face {
    font-family: "medium";
    src: url(../storage/fonts/Inter/Inter_18pt-Medium.ttf);
}
@font-face {
    font-family: "mixed";
    src: url(../storage/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
}