<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles1.css">
    <title>Conciertos Conectados</title>
</head>
<body>
    <header>
        <div class="banner">
            <img src="../storage/img/banner2.png" alt="">
        </div>
        <div class="back">
            <a href="/index.html"><img src="../storage/img/back.png" alt=""></a>
        </div>
    </header>
    <main>
        <section class="txt">
            <div class="div_txt">
                <h1>Coldplay<span> Music of the Spheres</span></h1>
                <h3>Gelora Bung Karno Stadium, Jakarta</h3>
                <h2>November 15 2023</h2>
            </div>
            <div>
                <h1>50K+ Participants</h1>
            </div>
        </section>
    </main>
</body>
</html>

