<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles1.css">
    <title>Conciertos Conectados</title>
</head>
<body>
    <header>
        <div class="banner">
            <img src="../storage/img/banner2.png" alt="">
        </div>
        <div class="back">
            <a href="/index.html"><img src="../storage/img/back.png" alt=""></a>
        </div>
    </header>
    <main>
        <section class="txt">
            <div class="div_txt">
                <h1>Coldplay<span> Music of the Spheres</span></h1>
                <p>Gelora Bung Karno Stadium, Jakarta</p>
                <p>November 15 2023</p>
            </div>
            <div class="div_txt2">
                <img src="/storage/img/grupo1.png" alt="">
                <h3>50K+ Participants</h3>
            </div>
        </section>
        <section>
            <div class="div_texto">
                <h1>Description</h1>
                <p>Integer id augue iaculis, iaculis orci ut, blandit quam. Donec in elit auctor, finibus quam in, phar. Proin id ligula dictum, covalis enim ut, facilisis massa. Mauris a nisi ut sapien blandit<br>imperdi. Interdum et malesuada fames ac ante ipsum primis<br>in faucibs. Sed posuere egestas nunc ut tempus. Fu ipsum dolor sit amet. <span>Read More..</span></p>
            </div>
        </section>
        <section>
            <div class="div_venue">
                <h1>Venue & Location</h1>
            </div>
            <div id="map"></div>
        </section>
    </main>
    <script>
        // Función para inicializar el mapa
        function initMap() {
          const sanFrancisco = { lat: 37.7749, lng: -122.4194 };
    
          // Crear un nuevo mapa centrado en San Francisco
          const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 12,
            center: sanFrancisco,
          });
    
          // Agregar un marcador en San Francisco
          const marker = new google.maps.Marker({
            position: sanFrancisco,
            map: map,
            title: "San Francisco",
          });
        }
      </script>
    
      <!-- Cargar la API de Google Maps con tu clave API -->
      <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeQ204qAN24hSd-HrSmSagc6vu0CMZU20&callback=initMap&v=weekly"
        async
        defer
      ></script>
      <section class="caja_final">
        <div class="caja1">
            <h4>Start from</h4>
            <h1>IDR1.100.000</h1>
        </div>
        <div class="caja2">
            <button>Buy Ticket</button>
        </div>
      </section>
</body>
</html>

