<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles2.css">
    <title>Fondo Degradado</title>
</head>
<body>
    <header>
        <section>
            <div class="div_topp">
                <a href="/views/details2.html"><img src="/storage/img/back.png" alt=""></a>
                <img src="/storage/img/vectorr.png" alt="">
            </div>
        </section>
    </header>
    <main>
        <section>
            <div class="ticket">
                <img src="/storage/img/Rectangle 4105.png" alt="">
                <h1>Coldplay : Music of the Spheres</h1>
                <h4>Nov 15 2023 ~ Gelora Bung Karno Stadium, Jakarta</h4>
                <div class="img2">
                    <img src="/storage/img/linea1.png" alt="">
                </div>
                <div class="datos1">
                    <h4>Name</h4> 
                    <h4>Order Number</h4> 
                </div>
                <div class="datos2">
                    <h2>Indriyani Puspita</h2> 
                    <h2>CLD09738PL</h2> 
                </div>
                <div class="datos3">
                    <h4>Date</h4> 
                    <h4>Time</h4> 
                </div>
                <div class="datos4">
                    <h2>Nov 15 2023</h2> 
                    <h2>9:00 PM</h2> 
                </div>
                <div class="datos5">
                    <h4>Gate</h4> 
                    <h4>Seat</h4> 
                </div>
                <div class="datos6">
                    <h2>Yellow</h2> 
                    <h2>West B</h2> 
                </div>
                <div class="imgbarra">
                    <img src="/storage/img/image 1.png" alt="">
                </div>
                <div class="final">
                    <h2>Scan your barcode at the entry gate.</h2>
                </div>
            </div>
            <div class="chiquita">
                <img src="/storage/img/Group 2.png" alt="">
            </div>
        </section>
    </main>
</body>
</html>
